*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body{
    width: 100%;
    height: 100%;
}

#main-nav{

}

#main-nav ul{
    display: flex;
    justify-content: center;
    font-size: 22px;
    padding: 10px;
    background-color: bisque;
}

#main-nav ul li{
    list-style-type: none;
    padding: 5px;
}

/* frontend */
.fdev{

}

.fdevBox{
    list-style-type: square;
    padding: 10px 25px 20px;
}

.fdevBox ol li{
    display: flex;
}

.fdevBox ol li p{
    padding-left: 7px;
}

.fdevboxList{
    display: flex;
    flex-direction: row;
}

.para{

}

/* img */
.img{
    width: 800px;
    height: 600px;
    display: flex;
    margin: auto;
}

.img1{
    width: 50px;
    height: 50px;
}

.img2{
    width: 158px;
    height: 92px;
    padding-left: 55px;
}

.img3{
    width: 400px;
    height: 400px;
}

.fdevboxList {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
}

.fdevboxList .img3{
    padding-top: 10px;
    padding-bottom: 10px;
}

/* title */
.title{
    text-align: center;
    font-size: 4em;
}

.title2{
    text-align: center;
    padding-top: 12px;
    padding-bottom: 10px;
    font-size: 35px;
}

.subTitle{
    font-size: 20px;
}

/* footer */
.footer{
    background-color: blanchedalmond;
    text-align: center;
    margin-top: 10px;
    padding: 5px;
}

.footer a{
   text-decoration: none;
}

.footer a:hover{
    text-decoration: underline;
}